<!DOCTYPE html>
<html>
<head>
<style type="text/css">
    body {
        font-size: 14px;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        color: #333;
    }
        a:visited{
        color: dodgerblue;
        text-decoration: none;
        }
    a.underlined {
   text-decoration:underline;
}
    a
{
   text-decoration:none;
}
</style>
  <meta charset="utf-8">
  <title>{% block title %}STRONA{% endblock %}</title>
</head>
<body>
  <header>

    <h1><center>STRONA</center></h1>
  <hr>
    {% if user.is_authenticated %}
      Witaj {{ user.username }}!
      <a href="{% url 'logout' %}">Wyloguj się</a>|<a href="{% url 'home' %}">Strona główna</a>
    {% else %}
      <a href="{% url 'login' %}">Zaloguj się</a>|<a href="{% url 'register' %}">Zarejestruj się </a>|<a href="{% url 'home' %}">Strona główna</a>|<a href="{% url 'surv_add' %}"> Dodaj Ankietę</a>|<a href="{% url 'surv_add_choice' %}">Dodaj swój wybór</a>
    {% endif %}
  </header>
  <hr>

  <main> <div id="container">
    {% block content %}

    {% endblock %}
  </main></div

  <footer>
  </footer>
</body>
</html>