<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pliki/1.css' %}" />
  <meta charset="utf-8">
  <title>{% block title %}STRONA{% endblock %}</title>
</head>
<body>
  <header>

    <h1><center>STRONA</center></h1>
  <hr>
    {% if user.is_authenticated %}
      Witaj {{ user.username }}!
      <a href="{% url 'logout' %}">Wyloguj się</a>|<a href="{% url 'home' %}">Strona główna</a>|<a href="{% url 'surv_add' %}"> Dodaj Ankietę</a>|<a href="{% url 'surv_add_choice' %}">Dodaj swój wybór</a>|<a href="{% url 'vote_add' %}">Zagłosuj</a>
    {% else %}
         <a href="{% url 'home' %}">Strona główna</a>|<a href="{% url 'surv_add' %}"> Dodaj Ankietę</a>|<a href="{% url 'surv_add_choice' %}">Dodaj swój wybór</a>|<a href="{% url 'vote_add' %}">Zagłosuj</a>
    {% endif %}
  </header>
  <hr>

  <main> <div id="container">
    {% block content %}

    {% endblock %}
  </div></main>

  <footer>
  </footer>
</body>
</html>