{% extends 'base.html' %}
<div id="container">
{% block title %}Dodaj ankiete{% endblock %}

{% block content %}
  <div id="log"><p class="xd"> Dodaj ankiete</p>
  </div>

    Ankiety :
    <ul>
        {% for x in lista %}
            <li>{% if now|date:'Y-m-d' < x.data_w|date:'Y-m-d'  %}<a class="link_ankieta" href="{% url 'home' %}{{ x.id }}/vote_add"> {{ x.nazwa }}</a> Wygasa : {{ x.data_w|date:'Y-m-d' }}
            {% else %}{{ x.nazwa }}<font class="warn1"> wygasła </font>
            {% endif %}
            </li><br>
        {% endfor %}
    </ul>
    <hr>
    Dodaj nową ankiete:
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <center><button type="submit">Dodaj ankiete</button></center>
  </form>






</div>
{% endblock %}