{% extends 'base.html' %}
<div id="container">
{% block title %}Dodaj ankiete{% endblock %}

{% block content %}
  <div id="log">Dodaj ankiete
  </div>

    Ankiety :
    <ul>
        {% for x in lista %}
            <li><a href="{% url 'vote_add' %}"> {{ x.nazwa }}</a></li>
    {% endfor %}
    </ul>
    <hr>
    Dodaj nową ankiete:
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <center><button type="submit">Dodaj ankiete</button></center>
  </form>




</div>
{% endblock %}