{% extends 'base.html' %}
<div id="container">
{% block title %}Zagłosuj{% endblock %}

{% block content %}
  <div id="log">
  {% for v in lista %}
    {% if v.id == cid %}
        <p class="xd">{{ v.nazwa }}</p>
    {% endif %}
  {% endfor %}
  </div>
  <form method="POST" action='succes_v_a.html'>
    {% csrf_token %}
    <center>
    {% if error %}
        <p class="warn">{{ error }}!</p>
    {% endif %}
        {% for c in lista1 %}
            {% if c.ankieta_id == cid %}
                <p class="xd1"><input type="radio" name="wybor" value="{{ c.id }}">{{ c.nazwa }}<br></p>
            {% endif %}
        {% endfor %}
        <center><button type="submit" class ="button1">Głosuj !</button><br><br><a href="{% url 'surv_add_choice' %}"class ="button1">Dodaj własną opcje</a><br></center></form></center>


   <br>{% now 'Y-m-d' %}
  </div>
{% endblock %}