    body{
    font-size: 14px;
font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
color: #333;background-color: #f2f2f2;
    }
    #container {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
            overflow: hidden;
    width: 28em;
    min-width: 30px;
    margin: 100px auto;
}
    #log {
        background: #447e9b;
        border: 1px solid #eaeaea;
        height: 40px;
        border-radius: 4px;
        overflow: hidden;
        width: 28em;
        min-width: 300px;
        color: white;
        text-align: center;
    }

    a.underlined {
   text-decoration:underline;
}
    a:link{
   text-decoration:none;
        color: black;
}

    ul{
        list-style-type: none;
    }
    ol{
        list-style-type: none;
    }
    .xd{
        font-weight: bold;
        text-align: center;

    }
    .xd1{
        text-justify: auto;
    }
    #plex{;
        margin: 0;
        padding: 0;
        float: top;
width: inherit;
height: 40px;
background: #417690;
line-height: 40px;
color: #ffc;
overflow: hidden;
        position: relative;
        min-width: 980px;
        padding-top: 0px;


    }
    .p2{
        font-weight: bold;
        text-align: center;
        font-size: 25px;



    }
    .warn{
        color: red;
        text-decoration: wavy;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
        .warn1{
        color: red;
        font-weight: bold;
        font-size: 13px;
    }
    .button1
    {
        background-color: #447e9b;
color:white;
    border: 2px solid #447e9b;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
}
    a:hover{
            background-color: #2f566a;
        color:white;
            border: 2px solid #2f566a;
    }

        button:hover{
            background-color: #2f566a;
        color:white;
            border: 2px solid #2f566a;
    }
    button
    {
        background-color: #447e9b;
color:white;
    border: 2px solid #447e9b;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;

}
    a.link_ankieta{
            padding: 3px 5px;
        border-radius: 4px;
        border: 2px solid #447e9b;
        background-color: white;
    color: #111111}
/* Change the link color to #111 (black) on hover */

    .button2
    {
        background-color: #447e9b;
color:white;
    border: 2px solid #447e9b;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;

}
    .w{
        color: cornflowerblue;
    }
    .data{
        text-align: right;
        font-style: italic;
    }